<h2 class="header-page">Login</h2>
<form method="post" action="/users/login">
  <div class="box">
    <i class="far fa-user"></i>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="box">
    <i class="fas fa-lock"></i>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn">Log in</button>
</form>